@model List<Web.Dto.FeatureDtos.ResultFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var count = 0;
}
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Araç Özellikleri</h5>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Özellik</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Name</td>
                                    <td><a href="/AdminFeature/UpdateFeature/@item.FeatureID" class="btn btn-outline-dark">Düzenlemeler</a></td>
                                    <td><a href="/AdminFeature/AddFeature/@item.FeatureID" class="btn btn-outline-dark">Detaylar</a></td>
                                    <td><a href="~/AdminFeature/RemoveFeature/@item.FeatureID" class="btn btn-outline-danger">Kaldır</a></td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

