@model List<Web.Dto.AboutDtos.ResultAboutDto>
@foreach(var item in Model)
{
	<section class="ftco-section ftco-about  bg-dark">
		<div class="container">
			<div class="row no-gutters ">
				<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@item.ImageUrl);">
				</div>
				<div class="col-md-6 wrap-about ftco-animate">
					<div class="heading-section heading-section-white pl-md-5">
						<h2 class="mb-4">@item.Title</h2>
						<p>@item.Description</p>
						<p><a asp-controller="Car" asp-action="Index" class="btn btn-dark py-3 px-4">Araçları İncele</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
}
