@model List<Web.Dto.CarPricingDtos.ResultCarPricingDto>
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading" style="color:black">Sezen&Co</span>
                <h2 class="mb-2">Güncel Araçlar</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">
                    @foreach(var item in Model)
                    {
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate" style="background-color:#343a40">
                                <div class="img rounded d-flex align-items-end" style="background-image: url(@item.CoverImageUrl);">
                                </div>
                                <div class="text">
                                    <h2 class="mb-0"><a href="#" style="color:white">@item.Model</a></h2>
                                    <div class="d-flex mb-3">
                                        <span class="num">@item.Brand</span>
                                        <p class="price ml-auto" style="color:white">@String.Format(new System.Globalization.CultureInfo("tr-TR"), "{0:N0}", item.Amount) <span style="color:white">/Günlük</span></p>
                                    </div>
                                    <a href="/Reservation/Index/@item.CarId" class="btn btn-dark py-2 mr-1">Kirala</a>
                                    <a href="/Car/CarDetail/@item.CarId" class="btn btn-dark py-2 ml-1">Detaylar</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>

