@model List<Web.Dto.BannerDtos.ResultBannerDto>
@{
    // id=3 olan banner
    var b5 = Model?.FirstOrDefault(x => x.BannerId == 6);

    // CoverImgUrl yoksa ImageUrl'e düş
    var raw = b5?.ImageUrl ?? b5?.ImageUrl ?? "";

    // Relative ise ~/ ile çöz, boşsa fallback kullan
    var bgUrl = !string.IsNullOrWhiteSpace(raw)
                ? (raw.StartsWith("http", StringComparison.OrdinalIgnoreCase)
                    ? raw
                    : Url.Content("~/" + raw.TrimStart('/')))
                : "https://img.sixt.com/1600/7c90df03-2463-490b-82b8-ab44d89730f8.jpg";
}
<section class="hero-wrap hero-wrap-2 js-fullheight"
         style="background-color: url('@bgUrl');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="/Default/Index">Sezen&Co <i class="ion-ios-arrow-forward"></i></a></span>
                    <i class="ion-ios-arrow-forward"></i>
                </p>
                <h1 class="mb-3 bread">Fiyatlandırma</h1>
            </div>
        </div>
    </div>
</section>