<section class="ftco-section ftco-intro" style="background-image: url(https://www.landofvip.com/upload/resimler/sofor.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-md-6 heading-section heading-section-white ftco-animate">
				<h2 class="mb-3">Trafikle zaman kaybetmek istemiyormusunuz ? </h2>
				<a href="#" class="btn btn-dark btn-lg">Bir Sürücü Çağırın</a>
			</div>
		</div>
	</div>
</section>